[program:{{ name }}]
command={{ command|replace("~", "%(ENV_HOME)s") }}
directory={{ directory|replace("~", "%(ENV_HOME)s") }}
stdout_logfile={{ log_dir|replace("~", "%(ENV_HOME)s") }}/{{ name }}.out.log
stderr_logfile={{ log_dir|replace("~", "%(ENV_HOME)s") }}/{{ name }}.err.log
autostart={% if autostart %}true{% else %}false{% endif %}

numprocs={{ numprocs }}
user={{ user }}
{% if app_env|length > 0 %}
environment={% for name, var in app_env.iteritems() %}{{ name|upper }}="{{ var|replace('~', '%(ENV_HOME)s') }}"{% if not loop.last %},{% endif%}{% endfor %}
{% endif %}

{% if umask %}umask={{ umask }}{% endif %}
