[program:crane]
command=/usr/bin/python /opt/crane/crane.py {{ ansible_eth1.ipv4.address }} {{ crane_provisioning_key }}
autorestart=true
stderr_logfile = /var/log/supervisor/crane-stderr.log
stdout_logfile = /var/log/supervisor/crane-stdout.log