[program:serf]
command=/usr/local/bin/serf agent 
    -event-handler="user:pull=/opt/crane/pull.sh" 
    -event-handler="query:load=/opt/crane/freeMem.sh" 
    -event-handler="member-update=/vagrant/crane/web-join.py > /tmp/webjoin.log" 
    -advertise {{ ansible_eth1.ipv4.address }} 
    -bind={{ ansible_eth1.ipv4.address }}
    -tag role=docker-host
stderr_logfile = /var/log/supervisor/serf-stderr.log
stdout_logfile = /var/log/supervisor/serf-stdout.log